<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1782">
  <div class="cs-container">
    <!-- Logo Group -->
    <div class="cs-logo-group">
      <a aria-label="go back to home" class="cs-logo" href="">
        <img
          class="cs-logo-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/images/header/white_logo.png"
          alt="logo"
          width="240"
          height="32"
        />
      </a>
      <p class="cs-text">
        Cincinnati Fasteners is your trusted partner for high-quality fasteners
        and inventory solutions. With decades of experience, we are committed to
        delivering strength, precision, and reliability to industries across the
        nation.
      </p>
      <div class="cs-contact">
        <div class="cs-contact-info">
          <span class="cs-topper">Call us anytime</span>
          <a href="tel:5137616608" class="cs-contact-link">(513) 761-6608</a>
        </div>
        <div class="cs-contact-info">
          <span class="cs-topper">Our location</span>
          <a href="" class="cs-contact-link"
            >323 S Wayne Ave, Cincinnati, OH 45215</a
          >
        </div>
      </div>
    </div>
    <!-- Links -->
    <div class="cs-ul-wrapper">
      <span class="cs-header">Our Services</span>
      <ul class="cs-ul">
        <li class="cs-li">
          <a class="cs-link" href="">Key Services</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">Fastener Solutions</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">Industral Solutions</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">Markets Served</a>
        </li>
      </ul>
    </div>
    <div class="cs-ul-wrapper">
      <span class="cs-header">Useful Links</span>
      <ul class="cs-ul">
        <li class="cs-li">
          <a class="cs-link" href="/about">About Us</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="/why_choose_us">Why Choose Us</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
    <table class="cs-table">
      <tbody>
        <tr>
          <th scope="row">Monday</th>
          <td>9.00am - 11.00am</td>
        </tr>
        <tr>
          <th scope="row">Tuesday</th>
          <td>9.00am - 11.00am</td>
        </tr>
        <tr>
          <th scope="row">Wednesday</th>
          <td>9.00am - 11.00am</td>
        </tr>
        <tr>
          <th scope="row">Thursday</th>
          <td>9.00am - 11.00am</td>
        </tr>
        <tr>
          <th scope="row">Friday</th>
          <td>9.00am - 11.00am</td>
        </tr>
        <tr>
          <th scope="row">Saturday</th>
          <td>Closed</td>
        </tr>
        <tr>
          <th scope="row">Sunday</th>
          <td>Closed</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="cs-bottom">
    <span class="cs-credit">
      © Copyright 2025 - Website Designed By
      <a
        href="https://www.jabwebagency.com"
        class="cs-credit-link"
        target="_blank"
        >JAB Web Agency</a
      >
    </span>
    <!-- <div class="cs-bottom-links">
      <a href="" class="cs-bottom-link">Terms & Conditions</a>
      <a href="" class="cs-bottom-link">Privacy Policy</a>
    </div> -->
  </div>
</footer>
