/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-403 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #cta-403 .cs-background {
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta-403 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #cta-403 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    /* positions the image inside the parent */
    object-position: 0% 30%;
  }
  #cta-403 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-403 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 32.3125rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #cta-403 .cs-title,
  #cta-403 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  #cta-403 .cs-text {
    opacity: 0.8;
    margin-bottom: 1rem;
  }
  #cta-403 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #cta-403 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #000;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  }
  #cta-403 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #fff;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #cta-403 .cs-button-solid:hover:before {
    width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cta-403 .cs-background {
    /* clips the black slant so it doesnt overflow */
    overflow: hidden;
  }
  #cta-403 .cs-background:before {
    width: 40%;
    opacity: 1;
  }
  #cta-403 .cs-background:after {
    /* black slant */
    content: "";
    width: 31.25rem;
    height: 93.75rem;
    margin-right: -3.125rem;
    background: -moz-linear-gradient(
      left,
      #1a1a1a 0%,
      #1a1a1a 57%,
      rgba(26, 26, 26, 0) 100%
    );
    background: -webkit-linear-gradient(
      left,
      #1a1a1a 0%,
      #1a1a1a 57%,
      rgba(26, 26, 26, 0) 100%
    );
    background: linear-gradient(
      to right,
      #1a1a1a 0%,
      #1a1a1a 57%,
      rgba(26, 26, 26, 0) 100%
    );
    opacity: 1;
    position: absolute;
    display: block;
    top: 50%;
    right: 50%;
    transform: rotate(10deg) translateY(-50%);
  }
  #cta-403 .cs-background img {
    width: 60%;
    object-position: right;
    left: auto;
    right: 0;
  }
  #cta-403 .cs-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #cta-403 .cs-content {
    text-align: left;
    align-items: flex-start;
    width: 45%;
  }
  #cta-403 .cs-text,
  #cta-403 .cs-title {
    margin-left: 0;
  }
}

/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1982 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbs-1982:before {
    content: "";
    width: 100%;
    height: 100%;
    /* background-color: var(--primary); */
    opacity: 0.05;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1982 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1982 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 35.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1982 .cs-text-large {
    font-size: 1.25rem;
    line-height: 1.5em;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #sbs-1982 .cs-text {
    margin-bottom: 2rem;
  }
  #sbs-1982 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    line-height: 3.5rem;
    text-decoration: none;
    margin: 0;
    /* 32px - 48px */
    padding: 0 clamp(2rem, 4vw, 3rem);
    background-color: var(--primary);
    overflow: hidden;
    color: #fff;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #sbs-1982 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #1a1a1a;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-1982 .cs-button-solid:hover {
    color: #fff;
  }
  #sbs-1982 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1982 .cs-ratings {
    width: 100%;
    margin: 0;
    margin-top: 4rem;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    position: relative;
    align-self: stretch;
  }
  #sbs-1982 .cs-ratings:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.1;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1982 .cs-stars {
    display: flex;
    flex-direction: row;
    filter: invert(49%) sepia(86%) saturate(684%) hue-rotate(180deg)
      brightness(76%) contrast(178%);
  }
  #sbs-1982 .cs-rating {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  #sbs-1982 .cs-h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }
  #sbs-1982 .cs-rating-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #sbs-1982 .cs-icon {
    width: 5.125rem;
    height: 5.9375rem;
    position: absolute;
    top: -1.875rem;
    right: 1.25rem;
  }
  #sbs-1982 .cs-image-group {
    width: 100%;
    max-width: 39.375rem;
    /* Changes to auto at desktop */
    height: 30rem;
    /* clips the corners of the children around the border radius */
    overflow: hidden;
    border-radius: 1rem;
    order: -1;
    position: relative;
  }
  #sbs-1982 .cs-background {
    width: 100%;
    height: 100%;
    /* makes it cover the parent dimensions */
    object-fit: cover;
    display: block;
  }
  #sbs-1982 .cs-background img {
    width: 100%;
    height: 100%;
    /* makes it cover the parent like a backgorund image */
    object-fit: cover;
    display: block;
  }
  #sbs-1982 .cs-box {
    text-align: left;
    width: 100%;
    max-width: 19rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    padding: 2rem;
    background-color: #1a1a1a;
    /* 48px - 80px */
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    /* 12px - 24px */
    right: clamp(0.75rem, 2.5vw, 1.5rem);
    /* 12px - 24px */
    bottom: clamp(0.75rem, 2.5vw, 1.5rem);
  }
  #sbs-1982 .cs-box-icon {
    width: 3.75rem;
    height: auto;
    display: block;
    filter: invert(49%) sepia(86%) saturate(684%) hue-rotate(180deg)
      brightness(76%) contrast(178%);
  }
  #sbs-1982 .cs-desc {
    /* 25px - 31px */
    font-size: clamp(1.5625rem, 3.125vw, 1.9375rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    width: 100%;
    margin: 1rem 0 0 0;
    color: #fff;
  }
  #sbs-1982 .cs-box-text {
    font-size: 0.875rem;
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    margin: 0.75rem 0 0 0;
    color: #f7f7f7;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1982 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbs-1982 .cs-content {
    align-self: center;
  }
  #sbs-1982 .cs-image-group {
    height: auto;
    min-height: 42.5rem;
  }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-264 {
    padding: var(--sectionPadding);
  }
  #services-264 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-264 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }

  #services-264 .cs-text {
    margin-bottom: 1rem;
  }
  #services-264 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #services-264 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #000;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--secondaryLight);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;
  }
  #services-264 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #services-264 .cs-button-solid:hover {
    color: #fff;
  }
  #services-264 .cs-button-solid:hover:before {
    width: 100%;
  }
  #services-264 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }
  #services-264 .cs-item {
    list-style: none;
    position: relative;
    display: block;
    width: 100%;
    height: 60vw;
    max-height: 15.625rem;
    font-size: clamp(1rem, 1.7vw, 1.5rem);
    color: #fff;
    /* 16px - 20px top & bottom */
    /* 20px - 24px left & right */
    padding: clamp(1rem, 2vw, 1.25rem) clamp(1.25rem, 2vw, 1.5rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
  }
  #services-264 .cs-h3 {
    /* 16px - 25px */
    font-size: clamp(1rem, 2vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--bodyTextColorWhite);
    display: block;
  }
  #services-264 .cs-picture {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  #services-264 .cs-picture:before {
    /* top right box */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    transition: opacity 0.3s;
  }
  #services-264 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-264 .cs-container {
    flex-direction: row;
  }
  #services-264 .cs-card-group {
    width: 64%;
    max-width: 54.1875rem;
    flex-direction: row;
    justify-content: space-between;
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
    flex: none;
  }
  #services-264 .cs-item {
    width: 100%;
    height: 50vw;
    max-width: 17.1875rem;
    max-height: 28.75rem;
  }
  #services-264 .cs-item:hover .cs-picture:before {
    opacity: 0.7;
  }
  #services-264 .cs-item:hover .cs-picture img {
    transform: scale(1.2);
  }
}

/*-- -------------------------- -->
<---          Steps             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-1713 {
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #steps-1713 .cs-container {
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  #steps-1713 .cs-wrapper {
    /* changes to 630px on tablet */
    max-width: 31.25rem;
    margin: auto;
    padding: var(--sectionPadding);
    display: flex;
    flex-direction: column;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #steps-1713 .cs-content {
    /* set text align to center if content needs to be centrally aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* aligns content to the left, set to center to centrally align */
    align-items: flex-start;
  }
  #steps-1713 .cs-title {
    margin: 0;
  }
  #steps-1713 .cs-card-group {
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    align-items: stretch;
    /* 24px - 32px */
    gap: clamp(1.5rem, 3vw, 2rem);
    grid-auto-flow: row;
  }
  #steps-1713 .cs-item {
    list-style: none;
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  #steps-1713 .cs-number {
    /* 80px - 100px */
    font-size: clamp(3rem, 2vw, 6.25rem);
    font-weight: 900;
    line-height: 1.2em;
    letter-spacing: -2px;
    margin-right: 1.25rem;
    color: var(--primary);
    opacity: 0.12;
    display: block;
  }
  #steps-1713 .cs-h3 {
    font-size: 1.5625rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #steps-1713 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2vw, 1rem);
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #steps-1713 .cs-background {
    width: 100%;
    height: 22.5rem;
    display: block;
  }
  #steps-1713 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-1713 {
    padding: var(--sectionPadding);
  }
  #steps-1713 .cs-container {
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
  }
  #steps-1713 .cs-title {
    margin: 0;
  }
  #steps-1713 .cs-wrapper {
    width: 65vw;
    max-width: 39.375rem;
    margin: 0;
    padding: 0;
  }
  #steps-1713 .cs-card-group {
    /* 16px - 32px */
    gap: clamp(1rem, 3vw, 2rem);
  }
  #steps-1713 .cs-item {
    flex-direction: row;
  }
  #steps-1713 .cs-picture {
    width: 11.25rem;
    height: 11.25rem;
  }
  #steps-1713 .cs-background {
    width: 30%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #steps-1713 .cs-wrapper {
    width: 50vw;
  }
  #steps-1713 .cs-background {
    width: 50vw;
    right: 50%;
    left: auto;
    margin-right: 8rem;
  }
}

/*-- -------------------------- -->
<---           Events           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #events-2049 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
  }
  #events-2049:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #events-2049 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #events-2049 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    z-index: 1;
  }
  #events-2049 .cs-text {
    margin-bottom: 2rem;
  }
  #events-2049 .cs-button-solid {
    font-size: 1rem;
    line-height: 3.5rem;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0 3rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #events-2049 .cs-button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #1a1a1a;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #events-2049 .cs-button-solid:hover {
    color: var(--primary);
  }
  #events-2049 .cs-button-solid:hover:before {
    width: 100%;
  }
  #events-2049 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    z-index: 1;
  }
  #events-2049 .cs-item {
    list-style: none;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: span 12;
    /* 32px - 48px */
    gap: clamp(2rem, 3vw, 3rem);
  }
  #events-2049 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }
  #events-2049 .cs-item:hover .cs-h3 {
    color: var(--primary);
  }
  #events-2049 .cs-item:first-of-type .cs-dot:before {
    top: 0rem;
  }
  #events-2049 .cs-item:last-of-type .cs-text-box:before {
    /* this covers the bottom of the last card to mask the line from the cs-dot :after element */
    content: "";
    width: 100%;
    /* 16px - 32px - matchs the padding of the cs-text-box */
    height: clamp(1rem, 4vw, 2rem);
    background: #fff;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  #events-2049 .cs-picture {
    width: 100%;
    height: 11.25rem;
    box-sizing: border-box;
    background-color: #dab692;
    /* clips img tag from overflowing it on hover */
    overflow: hidden;
    border-radius: 0.5rem;
    display: block;
    position: relative;
  }
  #events-2049 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s;
  }
  #events-2049 .cs-text-box {
    text-align: left;
    width: 100%;
    /* 16px - 32px */
    padding: clamp(1rem, 4vw, 2rem);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    z-index: 1;
    position: relative;
  }
  #events-2049 .cs-wrapper {
    /* 16px - 48px */
    margin-left: clamp(1rem, 5vw, 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #events-2049 .cs-flex {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  #events-2049 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    font-weight: 700;
    line-height: 120%;
    width: 100%;
    margin: 0;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #events-2049 .cs-date {
    font-size: 1rem;
    line-height: 1.5em;
    width: 100%;
    max-width: 5rem;
    /* 16px - 48px */
    margin-right: clamp(1rem, 5vw, 3rem);
    color: var(--bodyTextColor);
    display: flex;
    gap: 0.5rem;
  }
  #events-2049 .cs-icon {
    width: 1.25rem;
    height: auto;
    display: block;
  }
  #events-2049 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 2rem;
    color: var(--bodyTextColor);
  }
  #events-2049 .cs-dot {
    width: 1rem;
    height: 1rem;
    flex: none;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  #events-2049 .cs-dot:before {
    /* actual line for the timeline */
    content: "";
    width: 2px;
    height: 500vw;
    background-color: #e0e0e0;
    /* Grey color */
    position: absolute;
    top: -18.75rem;
    z-index: -10;
  }
  #events-2049 .cs-dot:after {
    /* primary color dot for the timeline */
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #events-2049 .cs-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* 32px - 48px */
    gap: clamp(2rem, 4vw, 3rem);
  }
  #events-2049 .cs-flex {
    width: 95%;
    max-width: 29.875rem;
    align-items: center;
    justify-content: center;
  }
  #events-2049 .cs-text-box {
    align-items: center;
  }
  #events-2049 .cs-item-text {
    margin-bottom: 0;
  }
  #events-2049 .cs-picture {
    min-height: 11.25rem;
    height: auto;
  }
}

/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-r-870 {
    padding: var(--sectionPadding);
  }
  #sbs-r-870 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 7vw, 4rem);
  }
  #sbs-r-870 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-r-870 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #sbs-r-870 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #sbs-r-870 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #sbs-r-870 .cs-title {
    /* 17 characters wide including spaces */
    max-width: 17ch;
  }
  #sbs-r-870 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-r-870 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-r-870 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-r-870 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbs-r-870 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-r-870 .cs-picture {
    display: block;
    position: relative;
    width: 100%;
    max-width: 39.375rem;
    /* 400px - 775px */
    height: clamp(25rem, 70vw, 48.4375rem);
    box-shadow: 0px 2.80579px 42.0868px rgba(0, 0, 0, 0.16);
    /* 100px - 200px */
    border-radius: 0 clamp(6.25rem, 17vw, 12.5rem) 0
      clamp(6.25rem, 17vw, 12.5rem);
    /* clips img tag corners */
    overflow: hidden;
  }
  #sbs-r-870 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-r-870 {
    padding: var(--sectionPadding);
  }
  #sbs-r-870 .cs-container {
    flex-direction: row;
    max-width: 80rem;
    justify-content: space-between;
  }
  #sbs-r-870 .cs-content {
    width: 53%;
    /* reset the padding, add the section padding back to the section container */
    padding: 0;
    /* sends it to the left in the 1st position */
    order: -1;
  }
  #sbs-r-870 .cs-picture {
    width: 47vw;
    position: relative;
  }
}

/* ---------------------------------- */
/*           Gallery                  */
/* ---------------------------------- */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-2235 {
    padding: var(--sectionPadding);
  }
  #gallery-2235:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.05;
    display: block;
    position: absolute;
    left: 0;
    z-index: -1;
  }
  #gallery-2235 .cs-container {
    padding-top: 3rem;
    width: 100%;
    max-width: 120rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-2235 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #gallery-2235 .cs-flex-group {
    display: flex;
    flex-direction: column;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #gallery-2235 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #gallery-2235 .cs-text {
    max-width: none;
  }
  #gallery-2235 .cs-wrapper {
    width: 100%;
    overflow: hidden;
  }
  #gallery-2235 .cs-slideshow {
    position: relative;
    transform-style: preserve-3d;
  }
  #gallery-2235 .cs-slide {
    width: 100%;
    /* 340px - 840px */
    height: clamp(21.25rem, 60vw, 52.5rem);
    margin: auto;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    z-index: 100;
    transition: transform 0.3s, opacity 0.3s, z-index 0.3s;
    /* classes applied by the JS file */
  }
  #gallery-2235 .cs-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #gallery-2235 .cs-slide.initial,
  #gallery-2235 .cs-slide.active {
    opacity: 1;
    position: relative;
    z-index: 900;
  }
  #gallery-2235 .cs-slide.prev,
  #gallery-2235 .cs-slide.next {
    z-index: 800;
  }
  #gallery-2235 .cs-slide.prev {
    transform: translateX(-100%);
  }
  #gallery-2235 .cs-slide.next {
    transform: translateX(100%);
  }
  #gallery-2235 .cs-slideshow-button {
    /* 36px - 80px */
    width: clamp(2.25rem, 6vw, 5rem);
    /* 36px - 80px */
    height: clamp(2.25rem, 6vw, 5rem);
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 1000;
    transform: translateY(-50%);
  }
  #gallery-2235 .cs-slideshow-button::before {
    content: "";
    /* 20px - 64px */
    width: clamp(1.25rem, 5vw, 4rem);
    /* 20px - 64px */
    height: clamp(1.25rem, 5vw, 4rem);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #gallery-2235 .cs-slideshow-button.cs-slideshow-prev {
    left: 1rem;
  }
  #gallery-2235 .cs-slideshow-button.cs-slideshow-prev::before {
    background-image: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/slideshow-left.svg");
  }
  #gallery-2235 .cs-slideshow-button.cs-slideshow-next {
    right: 1rem;
  }
  #gallery-2235 .cs-slideshow-button.cs-slideshow-next::before {
    background-image: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/slideshow-right.svg");
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-2235 .cs-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2.5rem;
  }
  #gallery-2235 .cs-title {
    margin-bottom: 0;
  }
  #gallery-2235 .cs-flex-group {
    width: 55%;
  }
}

/* Mobile - 360px */
/* you can copy and paste these styles into the section CSS where you placed the #list-827 HTML, or you can place it in your global stylesheet so you can reuse the HTML in any Side By Side section on your site. That way when you make changes to it, it will also change everywhere in the site */
#quote-827 {
  width: 100%;
  max-width: 39.375rem;
  margin: 2rem 0 2rem 0;
  /* 16px - 32px */
  padding: clamp(1rem, 3vw, 2rem);
  background-color: #004684;
  border-radius: 1rem;
  position: relative;
}
#quote-827 .cs-quote-text {
  /* 14px - 16px */
  font-size: clamp(0.875rem, 1.5vw, 1rem);
  line-height: 1.5em;
  width: 100%;
  max-width: 31.25rem;
  margin: 0 0 1rem;
  color: white;
  display: block;
}
#quote-827 .cs-name {
  font-size: 1rem;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  margin: 0 0 0.25rem;
  color: white;
  display: block;
}
#quote-827 .cs-job {
  font-size: 0.875rem;
  line-height: 1.5em;
  color: rgb(240, 240, 240);
  display: block;
}
#quote-827 .cs-quote-icon {
  /* 60px - 136px */
  width: clamp(3.75rem, 10vw, 8.5rem);
  height: auto;
  position: absolute;
  bottom: 0;
  /* 16px - 32px */
  right: clamp(1rem, 4vw, 2rem);
  filter: grayscale(1) brightness(1000%);
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-1235 {
    background-color: #040818;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
  }
  #cta-1235 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-1235 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 39.375rem;
    padding: var(--sectionPadding);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    z-index: 20;
  }

  #cta-1235 .cs-topper,
  #cta-1235 .cs-text {
    color: var(--headerColor);
  }
  #cta-1235 .cs-text {
    margin-bottom: 1rem;
  }
  #cta-1235 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #cta-1235 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: #1a1a1a;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    transition: color 0.3s;
  }
  #cta-1235 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #fff;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #cta-1235 .cs-button-solid:hover {
    color: #1a1a1a;
  }
  #cta-1235 .cs-button-solid:hover:before {
    width: 100%;
  }
  #cta-1235 .cs-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
  }
  #cta-1235 .cs-input {
    font-size: 1rem;
    width: 100%;
    height: clamp(2.875rem, 5.5vw, 3.5rem);
    margin: 0;
    padding: 0;
    padding-left: 1.25rem;
    border: none;
    /* prevents padding from adding to width and height */
    box-sizing: border-box;
    display: block;
  }
  #cta-1235 .cs-input::placeholder {
    color: #767676;
  }
  #cta-1235 .cs-submit {
    width: 100%;
    padding: 0 2rem;
    border: none;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #cta-1235 .cs-background {
    width: 100%;
    height: 23.75rem;
    overflow: hidden;
    display: block;
    position: relative;
  }
  #cta-1235 .cs-background:before {
    /* yellow slants */
    content: "";
    width: 21.875rem;
    height: 300%;
    background: #040818;
    opacity: 1;
    position: absolute;
    display: block;
    top: -12.5rem;
    left: -11.875rem;
    z-index: 10;
    transform: rotate(-30deg);
    outline: 3.125rem solid rgba(24, 30, 66, 0.4);
  }
  #cta-1235 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
  #cta-1235 .cs-floater {
    width: 70%;
    max-width: 40.75rem;
    height: auto;
    opacity: 0.1;
    position: absolute;
    top: 1;
    left: 0;
    z-index: 10;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cta-1235 {
    /* moved padding back to the section container */
    padding: var(--sectionPadding);
  }
  #cta-1235 .cs-container {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  #cta-1235 .cs-content {
    text-align: left;
    width: 57%;
    padding: 0;
    align-items: flex-start;
    position: relative;
    z-index: initial;
  }
  #cta-1235 .cs-content:before {
    content: "";
    width: 34.875rem;
    height: 500%;
    background: #040818;
    opacity: 1;
    position: absolute;
    display: block;
    top: -15.25rem;
    right: -4.875rem;
    z-index: 1;
    transform: rotate(-30deg);
    outline: 3.125rem solid rgba(4, 22, 43, 0.09);
  }
  #cta-1235 .cs-topper,
  #cta-1235 .cs-title,
  #cta-1235 .cs-text {
    color: white;
    position: relative;
    z-index: 20;
  }
  #cta-1235 .cs-form {
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    z-index: 20;
  }
  #cta-1235 .cs-input {
    width: 100%;
  }
  #cta-1235 .cs-submit {
    width: auto;
  }
  #cta-1235 .cs-background {
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
  #cta-1235 .cs-background:before {
    /* moved it to the cs-content for easier positioning */
    display: none;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #cta-1235 {
    min-height: 30.5rem;
    display: flex;
    align-items: center;
  }
}
