/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-1782 {
      padding: var(--sectionPadding);
      /* 30px - 50px */
      padding-bottom: clamp(1.875rem, 5vw, 3.125rem);
      background-color: #222222;
    }
    #cs-footer-1782 .cs-container {
      width: 100%;
      /* reset on tablet */
      max-width: 34.375rem;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr;
      /* 32px - 48px */
      gap: clamp(2rem, 7vw, 3rem);
    }
    #cs-footer-1782 .cs-logo-group {
      /* takes up all the space, lets the other ul's wrap below it */
      width: 100%;
      position: relative;
    }
    #cs-footer-1782 .cs-logo {
      width: 13.125rem;
      height: auto;
      margin: 0 0 1rem 0;
      display: block;
    }
    #cs-footer-1782 .cs-text {
      max-width: 44rem;
      /* 24px - 40px */
      margin: 0 0 clamp(1.5rem, 4vw, 2.5rem);
      color: var(--bodyTextColorWhite);
      opacity: 0.8;
    }
    #cs-footer-1782 .cs-logo-img {
      width: 100%;
      height: auto;
    }
    #cs-footer-1782 .cs-contact {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    #cs-footer-1782 .cs-topper {
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }
    #cs-footer-1782 .cs-contact-link {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.2em;
      text-decoration: none;
      color: var(--bodyTextColorWhite);
    }
    #cs-footer-1782 .cs-header {
      font-size: 1.5625rem;
      font-weight: 700;
      line-height: 1.5em;
      /* 16px - 24px */
      margin: 0 0 clamp(1rem, 4vw, 1.5rem) 0;
      color: var(--bodyTextColorWhite);
      display: block;
      position: relative;
    }
    #cs-footer-1782 .cs-ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }
    #cs-footer-1782 .cs-li {
      list-style: none;
    }
    #cs-footer-1782 .cs-link {
      font-size: 1rem;
      line-height: 1.5em;
      text-align: left;
      text-decoration: none;
      color: var(--bodyTextColorWhite);
      opacity: 0.8;
      display: inline-flex;
      align-items: flex-start;
      gap: 0.5rem;
      transition: color 0.3s;
    }
    #cs-footer-1782 .cs-link:hover {
      color: var(--primaryLight);
    }
    #cs-footer-1782 .cs-bottom {
      width: 100%;
      max-width: 80rem;
      /* 60px - 80px */
      margin: clamp(3.75rem, 7vw, 5rem) auto 0;
      padding-top: 1.5rem;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;
    }
    #cs-footer-1782 .cs-credit,
    #cs-footer-1782 .cs-bottom-link,
    #cs-footer-1782 .cs-credit-link {
      font-size: 1rem;
      line-height: 1.5em;
      text-decoration: none;
      color: var(--bodyTextColorWhite);
      opacity: 0.8;
    }
    #cs-footer-1782 .cs-credit {
      width: 100%;
    }
    #cs-footer-1782 .cs-credit-link {
      font-size: 1rem;
      line-height: 1.5em;
      text-decoration: none;
      width: auto;
      margin: 0;
      display: inline-block;
      position: relative;
    }
    #cs-footer-1782 .cs-credit-link:hover {
      color: var(--primary);
    }
    #cs-footer-1782 .cs-bottom-links {
      width: 100%;
      display: flex;
    }
    #cs-footer-1782 .cs-bottom-link {
      display: flex;
      align-items: center;
    }
    #cs-footer-1782 .cs-bottom-link:hover {
      color: var(--primary);
    }
    #cs-footer-1782 .cs-bottom-link:last-of-type:before {
      /* separator */
      content: "";
      width: 1px;
      height: 0.875rem;
      margin: 0 0.75rem;
      background: currentColor;
      opacity: 1;
      display: block;
    }
    #cs-footer-1782 .cs-table {
      width: 100%;
      background-color: #1D1C1C;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-top: 4px solid var(--primary);
    }
    #cs-footer-1782 .cs-table tr {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5em;
      padding: 1rem 1.5rem;
      color: var(--bodyTextColorWhite);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      display: flex;
      justify-content: space-between;
      /* last table row shouldn't have border - the outer table's border-bottom is used instead */
    }
    #cs-footer-1782 .cs-table tr:last-of-type {
      border: none;
    }
    #cs-footer-1782 .cs-table th,
    #cs-footer-1782 .cs-table td {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5em;
      color: var(--bodyTextColorWhite);
    }
    #cs-footer-1782 .cs-table td {
      text-align: right;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #cs-footer-1782 .cs-container {
      max-width: 80rem;
      grid-template-columns: repeat(12, 1fr);
    }
    #cs-footer-1782 .cs-logo-group {
      grid-column: span 12;
    }
    #cs-footer-1782 .cs-ul-wrapper {
      grid-column: span 3;
    }
    #cs-footer-1782 .cs-contact {
      flex-direction: row;
    }
    #cs-footer-1782 .cs-table {
      grid-column: span 12;
    }
    #cs-footer-1782 .cs-bottom {
      justify-content: space-between;
      flex-wrap: nowrap;
    }
    #cs-footer-1782 .cs-credit {
      text-align: left;
    }
    #cs-footer-1782 .cs-bottom-links {
      justify-content: flex-end;
    }
  }
  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #cs-footer-1782 .cs-logo-group {
      grid-column: 1 / 6;
    }
    #cs-footer-1782 .cs-contact {
      flex-direction: column;
    }
    #cs-footer-1782 .cs-ul-wrapper {
      justify-self: end;
    }
    #cs-footer-1782 .cs-ul-wrapper:first-of-type {
      grid-column: 8 / 10;
    }
    #cs-footer-1782 .cs-ul-wrapper:last-child {
      grid-column: 11 / 13;
    }
  }
  /* Large Desktop - 1300px */
  @media only screen and (min-width: 81.25rem) {
    #cs-footer-1782 .cs-logo-group {
      grid-column: span 4;
    }
    #cs-footer-1782 .cs-ul-wrapper {
      grid-column: span 2;
      justify-self: start;
    }
    #cs-footer-1782 .cs-table {
      grid-column: span 4;
    }
  }
                                  