/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1115 {
    /* 200px - 300px top */
    padding: clamp(0.5rem, 2.82vw, 8.75rem) 0.1rem 6.25rem;

    background-color: #f7f7f7;
    /* clips the svg wave from overflowing */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-1115:before {
    /* textured pattern */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    /* changes to a desktop image at tablet */
    background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/splatter-bg-m.png");
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    /* prevents the mouse from interacting with itand also in dev tool mode */
    pointer-events: none;
  }
  #hero-1115 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
  #hero-1115 .cs-content {
    max-width: 39.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #hero-1115 .cs-topper {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: #767676;
    margin-bottom: 0.25rem;
    display: block;
  }
  #hero-1115 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    /* 23 characters including spaces wide */
    max-width: 23ch;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #hero-1115 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    max-width: 33.1875rem;
    /* 28px - 40px */
    margin: 0 0 clamp(1.75rem, 3.92vw, 2.5rem) 0;
    color: var(--bodyTextColor);
  }
  #hero-1115 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #hero-1115 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #hero-1115 .cs-button-solid:hover:before {
    width: 100%;
  }

  #hero-1115 .cs-button-solid-other {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: white;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: black;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #hero-1115 .cs-button-solid-other:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: var(--primary);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #hero-1115 .cs-button-solid-other:hover:before {
    width: 100%;
  }
  #hero-1115 .cs-image-group-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    position: relative;
  }
  #hero-1115 .cs-image-group {
    /* we use ems for everything inside the cs-image-group so they pull their value for em from the cs-image-group container that we set.  This min-max property lets us tie the font size to the view width of the screen and grows proportionally with every pixel wide the screen gets until the value the view width units = .75em, resets at small desktop */
    font-size: min(2.2vw, 0.75em);
    width: 40.8125em;
    height: 38.625em;
    position: relative;
    z-index: 2;
  }
  #hero-1115 .cs-floater {
    /* 50px - 120px */
    width: clamp(3.125rem, 8vw, 7.5rem);
    height: clamp(3.125rem, 8vw, 7.5rem);
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8.125em;
    /* changes to -74px at large desktop */
    left: -2.1875em;
    transform: rotate(-15deg);
  }
  #hero-1115 .cs-floater-icon {
    width: 3.25em;
    height: auto;
  }
  #hero-1115 .cs-picture {
    width: 40.6875em;
    height: 32.6875em;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 50%;
    top: 5.9375em;
    transform: translateX(-50%);
  }
  #hero-1115 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  #hero-1115 .cs-picture1 {
    /* we set a height on the top image to cut off the bottom of it and hide it with overflow:hidden where the curved bottom picture meets it. The top image is what overlaps the "curve" of the bottom image.  */
    height: 69.5%;
    transform: translateX(-50%);
    /* clips the bottom left corner of the top image to match the curve of the bottom one because it was too long */
    border-radius: 0 0 0 25%;
  }
  #hero-1115 .cs-picture2 {
    border-radius: 0 0 55% 55%;
  }
  #hero-1115 .cs-graphic {
    width: 36.625em;
    height: auto;
    position: absolute;
    z-index: -1;
  }
  #hero-1115 .cs-graphic1 {
    top: 0;
    right: 0;
  }
  #hero-1115 .cs-graphic2 {
    bottom: 0;
    left: 0;
  }
  #hero-1115 .cs-donations {
    /* 12px - 20px */
    padding: clamp(0.75rem, 2.5vw, 1.25rem);
    /* prevent padding from affecting height and width */
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 8px 100px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0.75rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    /* 8px - 12px */
    gap: clamp(0.5rem, 1.5vw, 0.75rem);
    position: absolute;
    top: -0.625em;
    right: 0;
  }
  #hero-1115 .cs-donations-icon {
    /* 12px - 20px */
    width: clamp(0.75rem, 2vw, 1.25rem);
    height: auto;
  }
  #hero-1115 .cs-donations-icon-wrapper {
    /* 32px - 48px */
    width: clamp(2rem, 4vw, 3rem);
    height: clamp(2rem, 4vw, 3rem);
    background-color: var(--primaryLight);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hero-1115 .cs-donations-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.25rem;
  }
  #hero-1115 .cs-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 4px - 8px */
    gap: clamp(0.25rem, 1vw, 0.5rem);
  }
  #hero-1115 .cs-progress {
    /* 100px - 160px */
    width: clamp(6.25rem, 8vw, 10rem);
    /* 4px - 8px */
    height: clamp(0.25rem, 1vw, 0.5rem);
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #e8e8e8;
  }
  #hero-1115 .cs-progress-bar {
    width: var(--progress);
    height: 100%;
    background-color: var(--secondary);
    border-radius: 0.5rem;
    display: block;
  }
  #hero-1115 .cs-percentage {
    font-size: 0.75rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: #4e4b66;
    display: block;
  }
  #hero-1115 .cs-volunteer {
    /* 20px - 24px tpo & bottom */
    /* 16px - 20px left & right */
    padding: clamp(1rem, 2vw, 1.25rem) clamp(1.25rem, 2.5vw, 1.5rem);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 0.75rem;
    box-shadow: 0px 8px 100px 0px rgba(0, 0, 0, 0.08);
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* 8px - 16px */
    gap: clamp(0.5rem, 2vw, 1rem);
    position: relative;
    z-index: -1;
  }
  #hero-1115 .cs-volunteer-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #hero-1115 .cs-header {
    /* 12px - 20px */
    font-size: clamp(0.75rem, 2vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    color: var(--headerColor);
  }
  #hero-1115 .cs-volunteer-img {
    /* 36px 48px */
    width: clamp(2.25rem, 3vw, 3rem);
    height: auto;
    margin: 0 -1rem 0 0;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #fff;
  }
  #hero-1115 .cs-volunteer-number {
    /* 12px - 16px */
    font-size: clamp(0.75rem, 2vw, 1rem);
    font-weight: 700;
    /* 36px 48px */
    width: clamp(2.25rem, 3vw, 3rem);
    height: clamp(2.25rem, 3vw, 3rem);
    background-color: var(--secondary);
    color: var(--headerColor);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hero-1115 .cs-arrow {
    /* 60px - 130px */
    width: clamp(3.75rem, 10.5vw, 8.125rem);
    height: auto;
    position: absolute;
    bottom: 110%;
    left: -0.625rem;
    transform: rotate(-66deg);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1115 .cs-image-group {
    font-size: min(1.13vw, 1em);
    /* pushes down to create the space for the cs-volunteer to drop down 68px, since its positioned relative to the cs-image-group-wrapper div at bottom 0, the marign-bottom on the cs-image-group pushes down on the wrapper div, making the cs-volunteer drop down with it since it is positioned to the bottom of the wrapper div */
    margin-bottom: 4.25rem;
  }
  #hero-1115 .cs-donations {
    left: 50%;
    transform: translateX(-50%);
  }
  #hero-1115 .cs-volunteer {
    position: absolute;
    left: -7.1875rem;
    bottom: 0;
    z-index: 10;
  }
  #hero-1115 .cs-arrow {
    bottom: 95%;
    left: 2.375rem;
    transform: rotate(0);
    z-index: -1;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-1115 {
    text-align: left;
  }
  #hero-1115 .cs-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #hero-1115 .cs-content {
    width: 40vw;
    /* prevents flex-box from squishing it */
    flex: none;
    align-items: flex-start;
  }
  #hero-1115 .cs-title,
  #hero-1115 .cs-text {
    text-align: left;
  }
}
/* Large Desktop - 1400px */
@media only screen and (min-width: 87.5rem) {
  #hero-1115 .cs-image-group-wrapper {
    /* 48px - 160px */
    right: calc(clamp(2rem, 3vw, 10rem) * -1);
  }
  #hero-1115 .cs-image-group {
    margin: 0;
    z-index: 10;
  }
  #hero-1115 .cs-floater {
    left: -4.625rem;
  }
  #hero-1115 .cs-volunteer {
    left: -20.0625rem;
    bottom: 1.25rem;
    z-index: -1;
  }
  #hero-1115 .cs-arrow {
    left: 12.5rem;
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1493 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    background-color: #fff;
    overflow: hidden;
  }
  #services-1493 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 56.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 15;
  }
  #services-1493 .cs-content {
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    width: 100%;
    /* set text align to left if content needs to be left aligned */
    text-align: center;
  }
  #services-1493 .cs-title {
    max-width: 23ch;
  }
  #services-1493 .cs-card-group {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    margin: 0;
    width: 100%;
    padding: 0;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-1493 .cs-item {
    text-align: center;
    list-style: none;
    /* 16px - 24px */
    padding: 1.5rem clamp(1rem, 2.4vw, 1.5rem);
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    /* 40px - 60px */
    border-radius: clamp(2.5rem, 5vw, 3.75rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: border-color 0.3s;
  }
  #services-1493 .cs-item:hover {
    border-color: var(--secondary);
  }
  #services-1493 .cs-item:hover .cs-picture img {
    transform: scale(1.2);
  }
  #services-1493 .cs-item:hover .cs-h3,
  #services-1493 .cs-item:hover .cs-link {
    color: var(--primary);
  }
  #services-1493 .cs-item:hover .cs-arrow {
    filter: initial;
  }
  #services-1493 .cs-image-group {
    /* done in ems so we can use font size to scale it on desktop */
    width: 16.0625em;
    height: 12.5em;
    /* 16px - 24px */
    margin: 0 0 clamp(1rem, 2.4vw, 1.5rem);
    position: relative;
    z-index: 1;
  }
  #services-1493 .cs-picture {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    /* clips the image from overflowing parent on hover */
    overflow: hidden;
  }
  #services-1493 .cs-picture img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.65s;
  }
  #services-1493 .cs-mask {
    /* SVG Colors */
    --maskBorder: #e8e8e8;
    --maskBG: #fff;
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
  }
  #services-1493 .cs-info {
    display: flex;
    flex-direction: column;
  }
  #services-1493 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    text-align: inherit;
    line-height: 1.5em;
    font-weight: 700;
    width: 100%;
    margin: 0 0 0.5rem 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    color: var(--headerColor);
    transition: background-color 0.3s;
    transition: color 0.3s;
  }
  #services-1493 .cs-ages {
    font-size: 1rem;
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    margin: 0 0 1rem 0;
    color: var(--secondary);
  }
  #services-1493 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    text-align: inherit;
    line-height: 1.5em;
    max-width: 50ch;
    /* 16px - 24px */
    margin: 0 0 clamp(1rem, 2.4vw, 1.5rem);
    width: 100%;
    color: var(--bodyTextColor);
  }
  #services-1493 .cs-link {
    font-size: 1rem;
    text-decoration: none;
    text-align: inherit;
    line-height: 1.2em;
    font-weight: 700;
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s;
  }
  #services-1493 .cs-link:hover .cs-arrow {
    transform: translateX(0.25rem);
  }
  #services-1493 .cs-arrow {
    display: block;
    height: auto;
    width: 1.25rem;
    transition: filter 0.3s, transform 0.3s;
  }
  #services-1493 .cs-hills {
    /* hills Color */
    --hillBG: #f2faf8;
    width: 130%;
    min-width: 120rem;
    height: auto;
    position: absolute;
    /* positions off of the top at desktop */
    bottom: -6.25rem;
    left: 50%;
    transform: translateX(-50%);
  }
  #services-1493 .cs-wrapper {
    width: 110vw;
    max-width: 106.25rem;
    height: 50%;
    display: none;
    position: absolute;
    /* 60px - 100px (same as the padding bottom of the section ) */
    bottom: clamp(3.75rem, 7.82vw, 6.25rem);
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
  }
  #services-1493 .cs-floater {
    position: absolute;
  }
  #services-1493 .cs-floater1 {
    left: 0;
    top: -13.75rem;
  }
  #services-1493 .cs-floater2 {
    bottom: -3.125rem;
    right: 0;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1493 .cs-container {
    max-width: 80rem;
  }
  #services-1493 .cs-card-group {
    grid-template-columns: repeat(12, 1fr);
  }
  #services-1493 .cs-item {
    grid-column: span 3;
  }
  #services-1493 .cs-image-group {
    /* scaling it down so it all fits proportionally */
    font-size: min(1.2vw, 1em);
  }
  #services-1493 .cs-wrapper {
    display: block;
  }
  #services-1493 .cs-hills {
    top: 50%;
    bottom: auto;
  }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-2333 {
    background-color: #f7f7f7;
    padding: var(--sectionPadding);
  }
  #services-2333 .cs-container {
    box-shadow: 4px 4px 20px 2px #0000005e;
    width: 100%;
    /* changes to 1440px at tablet */
    max-width: 34.375rem;
    margin: auto;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #services-2333 .cs-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    z-index: 1;
  }
  #services-2333 .cs-content-wrapper:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.05;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-2333 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    padding: 3rem clamp(1rem, 4vw, 4rem) 0;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #services-2333 .cs-content-picture {
    width: 100%;
    max-width: 25rem;
    height: auto;
  }
  #services-2333 .cs-content-picture img {
    width: 100%;
    height: auto;
    display: block;
  }
  #services-2333 .cs-title {
    max-width: 20ch;
  }
  #services-2333 .cs-text {
    max-width: 40rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
  }
  #services-2333 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #services-2333 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    padding: 0 1.5rem;
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #services-2333 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #services-2333 .cs-button-solid:hover:before {
    width: 100%;
  }
  #services-2333 .cs-card-wrapper {
    /* 32px - 48px top & Bottom */
    /* 16px - 48px left & right */
    padding: clamp(2rem, 4vw, 4rem) clamp(1rem, 4vw, 4rem);
  }
  #services-2333 .cs-header {
    font-size: 13/16rem;
    text-transform: uppercase;
    line-height: 1.2em;
    font-weight: 700;
    /* 16px - 20px */
    margin: 0 0 clamp(1rem, 3vw, 1.25rem);
    color: var(--primary);
    display: block;
  }
  #services-2333 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    column-gap: clamp(1rem, 2.5vw, 1.25rem);
    row-gap: 2rem;
  }
  #services-2333 .cs-item {
    list-style: none;
    width: 100%;
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    align-items: flex-start;
  }
  #services-2333 .cs-item:hover .cs-picture img {
    opacity: 0.5;
    transform: scale(1.2);
  }
  #services-2333 .cs-link {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #services-2333 .cs-picture {
    width: 100%;
    height: 56vw;
    max-height: 19.25rem;
    margin-bottom: 1.5rem;
    background-color: #000;
    overflow: hidden;
    display: block;
    position: relative;
  }
  #services-2333 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.6s, opacity 0.3s;
  }
  #services-2333 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: left;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #services-2333 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    margin: 0 0 1.5rem 0;
    color: var(--bodyTextColor);
  }
  #services-2333 .cs-fake-link {
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    margin-top: auto;
    padding-bottom: 8px;
    color: var(--headerColor);
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    z-index: 1;
  }
  #services-2333 .cs-fake-link:hover .cs-icon {
    transform: translateX(0.2rem) rotate(45deg);
  }
  #services-2333 .cs-fake-link:before {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--headerColor);
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #services-2333 .cs-icon {
    width: 1.25rem;
    height: auto;
    display: block;
    transition: transform 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-2333 .cs-container {
    max-width: 90rem;
  }
  #services-2333 .cs-content-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 0;
  }
  #services-2333 .cs-content {
    padding-left: 0;
    padding-bottom: 3rem;
  }
  #services-2333 .cs-content-picture {
    order: -1;
  }
  #services-2333 .cs-item {
    grid-column: span 4;
  }
  #services-2333 .cs-picture {
    height: 26vw;
  }
}
/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-2333 .cs-container {
    flex-direction: row;
    align-items: stretch;
  }
  #services-2333 .cs-content-wrapper {
    max-width: 25.8125rem;
    height: auto;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
  #services-2333 .cs-content {
    padding-left: 3rem;
  }
  #services-2333 .cs-content-picture {
    order: 1;
  }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-962 {
    padding: var(--sectionPadding);
    background-color: #1a1a1a;
    position: relative;
    z-index: 1;
  }
  #services-962 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-962 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }

  #services-962 .cs-title {
    margin: 0;
    max-width: 20ch;
    color: var(--bodyTextColorWhite);
  }
  #services-962 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #services-962 .cs-item {
    list-style: none;
    text-align: left;
    width: 100%;
    /* 24px - 32px */
    padding: clamp(1.5rem, 2.5vw, 2rem);
    background-color: #1a1a1a;
    border: 1px solid #484848;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  }
  #services-962 .cs-item:hover {
    transform: translateY(-0.5rem);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  #services-962 .cs-item-link {
    text-decoration: none;
  }
  #services-962 .cs-icon {
    width: 3rem;
    height: auto;
    margin-bottom: 1.25rem;
    display: block;
  }
  #services-962 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 0.75rem;
    color: var(--bodyTextColorWhite);
    font-weight: bold;
  }
  #services-962 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #services-962 .cs-background {
    width: 100%;
    height: 22.1875rem;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  #services-962 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-962 .cs-container {
    max-width: 80rem;
  }
  #services-962 .cs-content {
    text-align: left;
    align-items: flex-start;
  }
  #services-962 .cs-card-group {
    display: flex;
    justify-content: center;
    /* makes sure every box "stretches" to be the same height as the tallest box */
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  #services-962 .cs-item {
    width: clamp(31.85%, 30.5vw, 32.28%);
  }
  #services-962 .cs-background {
    width: 50vw;
    height: 100%;
    /* 64px - 120px */
    margin-left: clamp(4rem, 10vw, 7.5rem);
    left: 50%;
  }
}
